@typeparam TNode
<HeadContent>
    <link href="_content/BlazorReteJs/css/reteEditor.styles.css" rel="stylesheet"/>
    <link href="_content/BlazorReteJs/BlazorReteJs.bundle.scp.css" rel="stylesheet"/>
</HeadContent>

<div @ref="@editorRef"
     @oncontextmenu="@(EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(HandleContextMenu))"
     @ondrop="@(EventUtil.AsNonRenderingEventHandler<DragEventArgs>(HandleOnDrop))"
     @ondrop:preventDefault
     id="@(Id)" class="rete-editor-container @Class" style="@Style"
     @attributes="AdditionalAttributes"
     ></div>