<button class="btn btn-primary" @onclick="@(async () => await reteEditorFacade.AddNode(Guid.NewGuid().ToString()))">Add Node</button>
<button class="btn btn-primary" @onclick="@(async () => await reteEditorFacade.ArrangeNodes(false))">Arrange Nodes</button>
<button class="btn btn-primary" @onclick="@(async () => await reteEditorFacade.ZoomAtNodes())">ZoomAt Nodes</button>
<button class="btn btn-primary" @onclick="@(async () => await reteEditorFacade.EditorRef.InvokeVoidAsync("toggleIsActive"))">Toggle IsActive</button>
<div @ref="editorAreaRef" id="@($"rete-editor-{Guid.NewGuid()}")" class="rete-editor-container"></div>